@import 'general.css';

html, body {
  height: initial;
}

.backto-homepage {
  color: #319FAD !important;
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content: center;
}
input[type="radio"] {
  width: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -999;
}
#loginPage, #registerPage {
  display: flex;
}
#loginPage .label-box__name[for='signIn'] {
  background-color: #DFC790;
  border-color: #DFC790;
  color: #fff;
}
#registerPage .label-box__name[for='signUp'] {
  background-color: #F19552;
  border-color: #F19552;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.label-box {
  display: flex;
  flex-wrap: nowrap;
}
.label-box__name {
  flex-grow: 1;
}
main label {
  line-height: 40px;
  background-color: #fff;
  text-align: center;
  color: #738a8e;
  transition: all 350ms;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
}
main label a {
  color: inherit;
  display: block;
}
main label:hover {
  background-color: #e0e0e0;
}

main label:first-of-type {
  border-right: 1px solid #e0e0e0;
}
main > section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: all 450ms;
  width: 100%;
  padding: 1rem 25px;
}
main > section h1 {
  color: #333333;
  display: block;
  font-size: 2rem;
  margin-bottom: 20px;
}
main > section > p:first-of-type {
  font-size: 1.2rem;
  margin-bottom: 10px;
  line-height: 30px;
  color: #4f4f4f;
}
main > section p span {
  transition: all 250ms;
  color: #148fbc;
  cursor: pointer;
}
main > section p span:hover {
  color: #0d7ea8;
  text-decoration: underline;
}
main > section form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main form input, main .register form textarea {
  border: 1px solid #cecece;
  width: 100%;
  transition: all 250ms;
  padding: 0 10px;
  border-radius: 5px;
  height: 35px;
  margin-bottom: 20px;
}
main form .invalid-feedback {
  height: 25px;
  color: #ba4c4c;
  margin-bottom: 20px;
}
main .register form .invalid-feedback {
  margin-top: -30px;
}
main .register form textarea {
  height: 145px;
  resize: none;
  padding: 10px;
}
main form input:hover, main .register form textarea:hover {
  box-shadow: 0 0 2px 1px #BABABA inset;
}
main form input:focus, main .register form textarea:focus {
  border-color: transparent;
  box-shadow: 0 0 2px 1px #148fbc inset;
}
main form button {
  height: 45px;
  flex-grow: 1;
  width: 150px;
  cursor: pointer;
  color: #fff;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms;
}
main .login form #forgot-password {
  line-height: 35px;
  color: #09698c;
  width: 100%;
  font-size: 80%;
  display: block;
  text-align: center;
}
main .login form #forgot-password:hover {
  text-decoration: underline;
}
main #sosmed-label {
  color: #494949;
  margin: 1rem 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .login form button {
  background-color: #DFC790;
}
main .login form button:hover {
  background-color: #D1B678;
}
main .login .sosmed-login {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  /* height: 135px; */
}
main .login .sosmed-login__google {
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
  justify-content: center;
  height: 46px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 2px 5px 5px 2px;
  background-color: #4285f4;
  padding: 0 2px 0 calc(40px - 8px);
}
main .login .sosmed-login .sosmed-login__fb {
  background-color: #4267b2;
}
main .login .sosmed-login .sosmed-login__fb .bx {
  color: #fff;
}
main .login .sosmed-login img {
  background-color: #fff;
  margin-right: 10px;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 5px;
}
main .login .sosmed-login .sosmed-login__fb .bx {
  background-color: transparent;
  position: absolute;
  left: -1px;
  /* height: 30px; */
  font-size: 48px;
  top: 0px;
  margin-right: 10px;
}
main .register form button {
  margin-bottom: 10px;
  background-color: #F19552;
}
main .register form button:hover {
  background-color: #E68B48;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  main {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: auto;
    border-radius: 5px;
    min-height: initial;
  }
  main #sosmed-label {
    margin: 2rem 0;
  }
  main > section h1 {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  main > section > p:first-of-type {
    margin-bottom: 10px;
  }
  main .login > form {
    margin: auto 0;
  }
  main .login .sosmed-login {
    margin: auto 0 0 0;
  }
  main form input, main .register form textarea {
    margin-bottom: 20px;
  }
  main .login .sosmed-login .sosmed-login__google {
    margin-bottom: 20px;
  }
  main #sosmed-label::before {
    left: 0;
  }
  main #sosmed-label::after {
    right: 0;
  }
  main #sosmed-label::before, main #sosmed-label::after {
    max-width: 30%;
    min-width: 100px;
    content: '';
    height: 2px;
    top: 50%;
    transform: translateY(calc(-50% - 2px));
    background-color: #C9C9C9;
    position: absolute;
  }
  main .login > form button {
    margin: 0;
    float: right;
    flex-grow: 0;
  }
  main .login form #forgot-password {
    float: left;
    width: auto;
    margin-top: 0;
  }
  .login .backto-homepage, .register .backto-homepage {
    color: #fff !important;
    position: fixed !important;
    left: 30px;
    top: 20px;
    display: inline-flex !important;
    width: auto !important;
  }
}
