*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style-type: none;
    scroll-behavior: smooth;
    outline: none;
    text-decoration: none;
}

/* html,
body {
    height: 100%;
} */

body {
    background-color: #141313;
    overflow-x: hidden;
}

.visible-hidden {
    display: none;
}

.bg--cream {
    background-color: #E2CCC1 !important;
}

.bg--blue {
    background-color: #4472c4ff !important;
}

a:hover {
    text-decoration: none;
}

main,
footer,
header {
    transition: all 250ms;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.fg-1 {
    flex-grow: 1;
}

.order-0 {
    order: 0 !important;
}

.order-1 {
    order: 1 !important;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: none !important;
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .w-xl-20 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}
